---
layout: default
title: Home
---
<div class="posts">
  {% if paginator.page == 1 %}
  <!-- Static links to others medium -->
  <div class="post">
      <div style="margin-left:5px; float:right; margin-top:5px; margin-right:2px">
        <a href="https://medium.com/tenable-techblog/silo-or-not-silo-that-is-the-question-d0141d0cbb78">
          <img src="{{ site.url }}/public/images/icons/drapeau_en.png">
        </a>
      </div>
    
      <h1 class="post-title">
      <a href="https://medium.com/tenable-techblog/silo-or-not-silo-that-is-the-question-d0141d0cbb78">
          Should a Tier 0 WSUS be put in a silo or not ?
        </a>
      </h1>
      <span class="post-date">18 Jan 2023</span>

      The question was: should I put my WSUS server into my T0 silo? Even if people are familiar with the concepts of Active Directory Tiering, ...
      <br>
      <a href="https://medium.com/tenable-techblog/silo-or-not-silo-that-is-the-question-d0141d0cbb78">Read more ...</a>
      <hr>
  </div>

  <div class="post">
      <div style="margin-left:5px; float:right; margin-top:5px; margin-right:2px">
        <a href="https://medium.com/tenable-techblog/how-to-mimic-kerberos-protocol-transition-using-reflective-rbcd-a4984bb7c4cb">
          <img src="{{ site.url }}/public/images/icons/drapeau_en.png">
        </a>
      </div>
    
      <h1 class="post-title">
      <a href="https://medium.com/tenable-techblog/how-to-mimic-kerberos-protocol-transition-using-reflective-rbcd-a4984bb7c4cb">
          How to mimic Kerberos protocol transition using reflective RBCD
        </a>
      </h1>
      <span class="post-date">07 Nov 2022</span>

      As I am often looking for misconfigurations dealing with Kerberos delegation, I realize that I was missing an interesting element while playing with the Kerberos protocol extensions S4U2Self and S4U2Proxy.
      <br>
      <a href="https://medium.com/tenable-techblog/how-to-mimic-kerberos-protocol-transition-using-reflective-rbcd-a4984bb7c4cb">Read more ...</a>
      <hr>
  </div>
  {% endif %}

  {% for post in paginator.posts %}

    {% if post.translated != true %}
    <div class="post">
      
        <!-- French will be the default -->
          {% if post.lang == 'en' or post.lang == nil %}
          <div style="margin-left:5px; float:right; margin-top:5px; margin-right:2px">
            <a href="{{ post.url | absolute_url }}">
              <img src="{{ site.url }}/public/images/icons/drapeau_en.png">
            </a>
          </div>

          <!-- Waiting for real i8n -->
          {% if post.has_translation %}
            <div style="margin-left:5px; float:right; margin-top:5px; margin-right:2px">
              <a href="{{ post.url | absolute_url | replace_first: 'en-','fr-'  }}">
                <img src="{{ site.url }}/public/images/icons/drapeau_fr.png">
              </a>
            </div>
          {% endif %}
        {% endif %}

        {% if post.lang == 'fr' %}
          <div style="margin-left:5px; float:right; margin-top:5px; margin-right:2px">
            <a href="{{ post.url | absolute_url }}">
              <img src="{{ site.url }}/public/images/icons/drapeau_fr.png">
            </a>
          </div>
        {% endif %}



      <h1 class="post-title">
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
        </a>
      </h1>
      <span class="post-date">{{ post.date | date_to_string }}</span>

      {{ post.excerpt }}
      <a href="{{ post.url | absolute_url }}">Read more ...</a>
      <hr>
    </div>
    {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
