---
layout: default
title: Home
---
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <div style="float:right; margin-top:5px; margin-right:2px">
      {% if post.lang == 'fr' %}
        <img src="{{ site.url }}/public/images/icons/drapeau_fr.png">
      {% else %}
        <img src="{{ site.url }}/public/images/icons/drapeau_uk.png">
      {% endif %}
    </div>
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.excerpt }}
    <a href="{{ post.url | absolute_url }}">Read more ...</a>
    <hr>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
