<footer class="footer row gutters">
<div class="container">
  <div class="footer-col1 col span_4">
	<ul class="social-media-list">
	  <li>
	    {% include icon-email.html %}
	  </li>
	  {% if site.github_username %}
	  <li>
		{% include icon-github.html username=site.github_username %}
	  </li>
	  {% endif %}

	  {% if site.twitter_username %}
	  <li>
		{% include icon-twitter.html username=site.twitter_username %}
	  </li>
	  {% endif %}
	</ul>
  </div>
  <div class="footer-col2 col span_8">
	<p>
		{{ site.description }}
		<br />
		<a href="{{ site.url }}/feed.xml"><span class="icon icon--twitter">{% include icon-rss.svg %}</span>Abonnez-vous au feed RSS</a>
	</p>
  </div>
</div>
</footer>