<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container azul">
      {% include header.html %}

      {{ content }}
	     
      {% include footer.html %}
    </div>

    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{{site.baseurl}}/public/js/jquery.fitvids.js"></script>
    <script>
      $(document).ready(function(){
        $("article").fitVids();
      });
    </script>
  </body>
</html>
